@using Abp.Authorization.Users
@using Thaco.Peugeot.Web.Startup
@model Thaco.Peugeot.Web.Models.Customer.CustomerListViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.CurrentPageName = PageNames.Customers; // The menu item will be active for this page.
}
@section scripts
    {
<environment names="Development">
    <script src="~/view-resources/Views/Customer/Index.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('#customer-table').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                scrollX: true
            })
            //Date picker
            $('.datepicker').datepicker({
                autoclose: true
            })
        })
    </script>

</environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Customer/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <button type="button" class="btn btn-primary" id="btnadd" name="btnadd" data-toggle="modal" data-target="#modal-create-customer"><i class="fa fa-plus"> Add</i></button>
                <div class="box-body">
                    <table id="customer-table" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th>@L("CustomerName")</th>
                                <th>@L("BirthDay")</th>
                                <th>@L("IdentityNumber")</th>
                                <th>@L("PhoneNumber")</th>
                                <th>@L("Email")</th>
                                <th>@L("Address")</th>
                                <th>@L("District")</th>
                                <th>@L("City")</th>
                                <th>@L("TaxCode")</th>
                                <th>@L("Website")</th>
                                <th>@L("CreatedDate")</th>
                                <th>@L("CustomerType")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model.Customer)
                            {
                                <tr>
                                    <td width="10px">
                                        <a class="btn btn-primary btn-sm edit-customer" id="btnedit" name="btnedit" data-customer-id="@customer.Id"><i class="fa fa-edit fa-sm"></i></a>
                                        <a class="btn btn-primary btn-sm delete-customer" id="btndelete" name="btndelete" data-customer-id="@customer.Id" data-customer-name="@customer.FirstName @customer.LastName"><i class="fa fa-trash-o fa-sm"></i></a>
                                    </td>
                                    <td>@customer.FirstName @customer.LastName</td>
                                    <td>@customer.Birthday</td>
                                    <td>@customer.IdentityId</td>
                                    <td>@customer.MobileNumber</td>
                                    <td>@customer.Email</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.District</td>
                                    <td>@customer.City</td>
                                    <td>@customer.TaxCode</td>
                                    <td>@customer.Website</td>
                                    <td>@customer.CreatedDate</td>
                                    <td>@customer.Type</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<div class="modal fade" id="modal-create-customer" data-backdrop="static" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@L("CreateNewCustomer")</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" class="form-validation">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="InputFirstName">@L("FirstName")</label>
                            <input type="text" class="form-control" id="InputFirstname" name="FirstName" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">@L("LastName")</label>
                            <input id="lastName" type="text" name="LastName" class="validate form-control" required>
                        </div>
                        <div class="form-group">
                            <label>@L("Birthday")</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker" id="birthday" name="Birthday">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="identityNumber">@L("IdentityNumber")</label>
                            <input id="identityNumber" type="number" name="IdentityNumber" class="validate form-control">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">@L("PhoneNumber")</label>
                            <input id="phoneNumber" type="number" name="MobileNumber" class="validate form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">@L("Email")</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="Email">
                        </div>
                        <div class="form-group">
                            <label for="address" class="form-label">@L("Address")</label>
                            <input id="address" type="text" name="Address" class="validate form-control">
                        </div>
                        <div class="form-group">
                            <label for="taxCode">@L("TaxCode")</label>
                            <input id="taxCode" type="text" name="TaxCode" class="validate form-control">
                        </div>
                        <div class="form-group">
                            <label for="website">@L("Website")</label>
                            <input id="website" type="text" name="Website" class="validate form-control">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">@L("Save")</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">@L("Cancel")</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="CustomerEditModal" tabindex="-1" role="dialog" aria-labelledby="CustomerEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>


