@using Abp.Authorization.Users
@using Thaco.Peugeot.Web.Startup
@model Thaco.Peugeot.Web.Models.Customer.CustomerListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Customers; // The menu item will be active for this page.
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Customer/Index.js" asp-append-version="true"></script>
    </environment> 

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Customer/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Customer")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("CustomerName")</th>
                            <th>@L("BirthDay")</th>
                            <th>@L("IdentityNumber")</th>
                            <th>@L("PhoneNumber")</th>
                            <th>@L("Email")</th>
                            <th>@L("Address")</th>
                            <th>@L("District")</th>
                            <th>@L("City")</th>
                            <th>@L("TaxCode")</th>
                            <th>@L("Website")</th>
                            <th>@L("CreatedDate")</th>
                            <th>@L("CustomerType")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.Customer)
                        {
                        <tr>
                            <td>@customer.FirstName @customer.LastName</td>
                            <td>@customer.Birthday</td>
                            <td>@customer.IdentityId</td>
                            <td>@customer.MobileNumber</td>
                            <td>@customer.Email</td>
                            <td>@customer.Address</td>
                            <td>@customer.District</td>
                            <td>@customer.City</td>
                            <td>@customer.TaxCode</td>
                            <td>@customer.Website</td>
                            <td>@customer.Type</td>
                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" class="waves-effect waves-block edit-customer" data-customer-id="@customer.Id" data-toggle="modal" data-target="#CustomerEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                    <li><a href="#" class="waves-effect waves-block delete-customer" data-customer-id="@customer.Id"  data-customer-name="@customer.FirstName @customer.LastName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                </ul>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#CustomerCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CustomerCreateModal" tabindex="-1" role="dialog" aria-labelledby="CustomerCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewCustomer")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="customerCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="firstName" type="text" name="FirstName" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="firstName" class="form-label">@L("FirstName")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="lastName" type="text" name="LastName" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="lastName" class="form-label">@L("LastName")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="birthday" type="date" name="Birthday" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="birthday" class="form-label">@L("Birthday")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="identityNumber" type="number" name="IdentityNumber" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="identityNumber" class="form-label">@L("IdentityNumber")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="phoneNumber" type="number" name="MobileNumber" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="phoneNumber" class="form-label">@L("PhoneNumber")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="email" type="email" name="Email" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="email" class="form-label">@L("Email")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="address" type="text" name="Address" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="address" class="form-label">@L("Address")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="district" name="District"></select>
                                    <label for="district" class="form-label">@L("District")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="city" name="City"></select>
                                    <label for="city" class="form-label">@L("City")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="taxCode" type="text" name="TaxCode" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="taxCode" class="form-label">@L("TaxCode")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="website" type="text" name="Website" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="website" class="form-label">@L("Website")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="city" name="City" class="form-control validate" title="@L("SelectCity")" >
                                        @foreach (var item in Model.Cities.Take(4))
                                        {
                                            <option value="@item.Id.ToString()">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select  id="district" name="District" class="form-control validate" title="@L("SelectDistrict")">
                                        @foreach (var item in Model.Districts)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="ward" name="Ward" class="form-control validate" title="@L("SelectWard")">
                                        @foreach (var item in Model.Wards)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CustomerEditModal" tabindex="-1" role="dialog" aria-labelledby="CustomerEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
