@using Thaco.Peugeot.Web.Startup
@model Thaco.Peugeot.Web.Models.Roles.RoleListViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.CurrentPageName = PageNames.Roles; // The menu item will be active for this page.
}
@section scripts
    {
<environment names="Development">
    <script src="~/view-resources/Views/Roles/Index.js" asp-append-version="true"></script>
        <script>
            $("#role-table").dataTable();
        </script>
</environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Roles/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h2 class="box-title">
                    @L("Roles")
                </h2>
            </div>
            <div class="box-body">
                <button type="button" class="btn btn-primary" id="btnadd" name="btnadd" data-toggle="modal" data-target="#modal-create-role"><i class="fa fa-plus"> Add</i></button>
                <div class="box-body">
                    <table id="role-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th>@L("RoleName")</th>
                                <th>@L("DisplayName")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model.Roles)
                            {
                                <tr>
                                    <td>
                                        <a href="#" class="waves-effect waves-block edit-role" data-role-id="@role.Id" data-toggle="modal" data-target="#modal-edit-role"><i class="fa fa-edit"></i></a>
                                        <a href="#" class="waves-effect waves-block delete-role" data-role-id="@role.Id" data-role-name="@role.Name"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                    <td>@role.Name</td>
                                    <td>@role.DisplayName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-create-role" tabindex="-1" role="dialog"  data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        <span>@L("CreateNewRole")</span>
                    </h4>
                </div>
                <div class="box-body">
                    <form name="form-create-form" role="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label for="rolename" class="form-label">@L("RoleName")</label>
                                        <input id="rolename" type="text" name="Name" required maxlength="32" minlength="2" class="validate form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label for="displayname" class="form-label">@L("DisplayName")</label>
                                        <input id="displayname" type="text" name="DisplayName" required maxlength="32" minlength="2" class="validate form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label for="role-description" class="form-label">@L("RoleDescription")</label>
                                        <textarea id="role-description" name="Description" class="validate form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <h4>@L("Permissions")</h4>
                                @foreach (var permission in Model.Permissions)
                                {
                                    <div class="col-sm-6">
                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="permission-@permission.Name" checked="checked" />
                                        <label for="permission-@permission.Name">@permission.DisplayName</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">@L("Save")</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">@L("Cancel")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-edit-role" tabindex="-1" role="dialog"  data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="box box-primary">
        </div>
    </div>
</div>
